
:root{
    --white:#fff;
    --blue:#446cd3;
    --black:202020;
    --hoverblue:#3e62bd;
    --font-famity: 'Exo 2', sans-serif; 
}

.tittle-section-advantages{
    font-size: 32px;
    color:var(--blue);
    font-weight: 600;
}


.collection-advantages{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
}


.display-block{
    display: block;
}

.item-advantages{
    display: flex;
    width: 350px;
    padding:0px 10px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 115px;
    border: 2px solid var(--blue);
}

.icon-advantages{
    width: 64px;
    height: 64px;
}

.icon-advantages img{
    position: relative;
    width: 100%;
    height: 100%;
}

.description-advantages{
    display:grid;

    padding-left: 20px;
}

.advantages-tittle{
    color:var(--blue);
    font-weight: 600;
    padding-bottom: 6px;
}

.advantages-description{
    font-size: 14px;
}